html {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    height: 72px;
    padding-left: 250px;
    padding-right: 250px;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;

}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;

}

.header-links li {
    display: inline;
    padding-left: 20px;
    font-style: italic;
}

.hero {
    display: flex;
    padding-left: 250px;
    padding-right: 250px;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    height: 330px;

}

.hero-left {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    flex-wrap: wrap;
}

#heroh1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

#herotext {
    font-size: 18px;
    color: #e5e7eb;
}

#heroimg {
    display: flex;
    background-color: gray;
    height: 150px;
    width: 350px;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882f6;
    border: none;
    color: white;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    max-width: 90px;
    border-radius: 6px;
}

.information {
    display: flex;
    justify-content: center;
    padding-left: 250px;
    padding-right: 250px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    padding: 20px;
    border-radius: 50px;
  }

.pictureboxes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 250px;
    padding-right: 250px;
}

  .pic {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      /* flex-direction: column; */
      padding-left: 10px;
      padding-right: 10px;
  }

  #pictext {
      display: flex;
    text-align: center;
  }